.comment {
  color: palevioletred;
}
.red {
  color: red;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 10px;
  border: 1px solid;
}

.ui.card {
  margin-top: 0;
}
